/* src/assets/main.css */

:root {
  --color-background: #121212;
  --color-background-soft: #272727;
  --color-background-mute: #3a3a3a;
  --color-border: #444;
  --color-border-hover: #9aa0a6;
  --color-heading: #e8eaed;
  --color-text: #bdc1c6;
  --color-green: #42b983;
  --color-blue: #0d6efd;
  --color-red: #dc3545;
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Hide the default browser clear button */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.label,
.value {
  user-select: none;
  cursor: default;
}
